name: Build ReCap Server (Windows)

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Check out sources
        uses: actions/checkout@v3

      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ucrt64
          update: true
          pacboy: gcc:p cmake:p make:p

      - name: Prepare CPM cache dir
        run: mkdir -p darkspore_server/.cpm-cache

      - name: Cache CPM (CPM_SOURCE_CACHE)
        uses: actions/cache@v4
        with:
          path: darkspore_server/.cpm-cache
          key: cpm-${{ runner.os }}-${{ hashFiles('darkspore_server/CMakeLists.txt', 'darkspore_server/cmake/**') }}
          restore-keys: |
            cpm-${{ runner.os }}-

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: '5.30'

      - name: Set up NASM
        uses: ilammy/setup-nasm@v1

      - name: Set up Git
        run: |
          pacman -Syu --noconfirm
          pacman -S --needed --noconfirm git

      - name: Configure
        run: |
          cd darkspore_server
          export PATH=/c/Users/runneradmin/nasm:$PATH
          export CPM_SOURCE_CACHE="$(pwd)/.cpm-cache"
          cmake . -B build -G "Visual Studio 17 2022" -DCMAKE_PREFIX_PATH="C:\\hostedtoolcache\\windows\\perl\\5.30.3-thr\\x64\\bin" -DCMAKE_INSTALL_PREFIX=./dist

      - name: Build
        run: |
          cd darkspore_server/build
          export PATH=/c/Users/runneradmin/nasm:$PATH
          cmake --build . --config Release --parallel
          cmake -DCOMPONENT=recap_server -Pcmake_install.cmake

      - name: Adding needed files
        run: |
          cd darkspore_server
          cp -r res/data dist/bin/data
          mkdir -p dist/bin/storage/user
          touch dist/bin/storage/user/PLACEHOLDER

      - uses: actions/upload-artifact@v4
        with:
          name: recap-server-windows-x64
          path: ${{runner.workspace}}/recap_server/darkspore_server/dist
